@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color set for reference
#e4cdac almond
#dc6a28 orange

#ececec grey
#385170 blue
#142d4c blue

#596e79 greyblue
#c7b198 brown
#dfd3c3 light brown
#f0ece2 white brown
*/

.button {
  @apply w-[100px] p-1.5 text-white border-0 cursor-pointer items-center justify-center;
  text-align: center;
  background-color: #e4c072;
/* #e4c072 */
}
.button span {
  @apply text-xs;
}

h1 {
    color: #596e79;
}
h2 {
    color: #c9bbaa;
}
p {
    font-size: medium;
    color: #c1c1c1;
}
body {
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(136, 136, 136));
}

.section {
  @apply flex flex-col items-center min-h-screen
}

.container {
  @apply w-full max-w-screen-xl mx-auto p-4 flex flex-col items-center justify-center;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

html {
    font-family: "Inter", sans-serif;
  }
  
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
  
  .app {
    @apply relative w-full h-screen overflow-hidden;
  }
  
  .home {
    @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
  }
  
  .home-content {
    @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
  }
  
  .head-text {
    @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
  }
  
  .download-btn {
    @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
  }
  
  .editortabs-container {
    @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
  }
  
  .filtertabs-container {
    @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
  }
  
  .aipicker-container {
    @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
  }
  
  .aipicker-textarea {
    @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
  }
  
  .filepicker-container {
    @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
  }
  
  .filepicker-label {
    @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
  }
  
  .tab-btn {
    @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
  }
  
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  input[type="file"] {
    z-index: -1;
    position: absolute;
    opacity: 0;
  }
  
  .sketch-picker {
    width: 170px !important;
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    border-radius: 6px !important;
  }
  
  .sketch-picker > div:nth-child(3) {
    display: none !important;
  }

  #mobileNavBar {
    display: none;
  }

  @media (max-width: 768px) {
    .button {
      /* @apply w-full;  */
    }

    #mobileNavBar {
      display: block;
    }
  }


