* {
    margin: 0;
    padding: 0;
}

.button {
    width: 100px;
    padding: 10px;
    background-color: #dc6a28;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Container {
    color: white;
    background: BlanchedAlmond;
} */
