


* {
    margin: 0;
    padding: 0;
}

/*
color set
#e4cdac almond
#dc6a28 orange

#ececec grey
#385170 blue
#142d4c blue
-
#596e79 greyblue
#c7b198 brown
#dfd3c3 light brown
#f0ece2 white brown
*/

.button {
    width: 100px;
    padding: 10px;
    background-color: #c7b198;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    color: #596e79;
}
h2 {
    color: #dfd3c3;
}
p {
    font-size: medium;
    color: #596e79;
}
body {
    background-color: #f0ece2;
}


.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    color: white;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
}



